@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");
@media (max-width: 59.3125em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 59.375rem) {
  .hide-for-desktop {
    display: none;
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.return-button {
  position: fixed;
  top: 2rem;
  left: 0.5rem;
  z-index: 1;
  background: #f9f002;
  border: 0;
  color: #000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

@media (min-width: 40em) {
  .return-button {
    left: 1.5rem;
  }
}

.return-button::after {
  content: attr(data-text);
  display: block;
  border-radius: 50%;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #f9f002 5%);
  text-shadow: -3px -3px 0px #f9f002, 3px 3px 0px #00E6F6;
  -webkit-clip-path: inset(50% 50% 50% 50%);
          clip-path: inset(50% 50% 50% 50%);
}

.return-button:hover {
  cursor: pointer;
  color: #FF013C;
}

.return-button:hover::after {
  -webkit-animation: 0.2s glitch-hover;
          animation: 0.2s glitch-hover;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

@-webkit-keyframes glitch-hover {
  0% {
    -webkit-clip-path: inset(80% -6px 0 0);
            clip-path: inset(80% -6px 0 0);
    -webkit-transform: translate(-20px, -10px);
            transform: translate(-20px, -10px);
  }
  10% {
    -webkit-clip-path: inset(10% -6px 85% 0);
            clip-path: inset(10% -6px 85% 0);
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  20% {
    -webkit-clip-path: inset(80% -6px 0 0);
            clip-path: inset(80% -6px 0 0);
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  30% {
    -webkit-clip-path: inset(10% -6px 85% 0);
            clip-path: inset(10% -6px 85% 0);
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  40% {
    -webkit-clip-path: inset(50% -6px 30% 0);
            clip-path: inset(50% -6px 30% 0);
    -webkit-transform: translate(-5px, 0px);
            transform: translate(-5px, 0px);
  }
  50% {
    -webkit-clip-path: inset(10% -6px 85% 0);
            clip-path: inset(10% -6px 85% 0);
    -webkit-transform: translate(5px, 0px);
            transform: translate(5px, 0px);
  }
  60% {
    -webkit-clip-path: inset(40% -6px 43% 0);
            clip-path: inset(40% -6px 43% 0);
    -webkit-transform: translate(5px, 10px);
            transform: translate(5px, 10px);
  }
  70% {
    -webkit-clip-path: inset(50% -6px 30% 0);
            clip-path: inset(50% -6px 30% 0);
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  80% {
    -webkit-clip-path: inset(80% -6px 5% 0);
            clip-path: inset(80% -6px 5% 0);
    -webkit-transform: translate(20px, -10px);
            transform: translate(20px, -10px);
  }
  90% {
    -webkit-clip-path: inset(80% -6px 0 0);
            clip-path: inset(80% -6px 0 0);
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  100% {
    -webkit-clip-path: inset(80% -6px 0 0);
            clip-path: inset(80% -6px 0 0);
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes glitch-hover {
  0% {
    -webkit-clip-path: inset(80% -6px 0 0);
            clip-path: inset(80% -6px 0 0);
    -webkit-transform: translate(-20px, -10px);
            transform: translate(-20px, -10px);
  }
  10% {
    -webkit-clip-path: inset(10% -6px 85% 0);
            clip-path: inset(10% -6px 85% 0);
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  20% {
    -webkit-clip-path: inset(80% -6px 0 0);
            clip-path: inset(80% -6px 0 0);
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  30% {
    -webkit-clip-path: inset(10% -6px 85% 0);
            clip-path: inset(10% -6px 85% 0);
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  40% {
    -webkit-clip-path: inset(50% -6px 30% 0);
            clip-path: inset(50% -6px 30% 0);
    -webkit-transform: translate(-5px, 0px);
            transform: translate(-5px, 0px);
  }
  50% {
    -webkit-clip-path: inset(10% -6px 85% 0);
            clip-path: inset(10% -6px 85% 0);
    -webkit-transform: translate(5px, 0px);
            transform: translate(5px, 0px);
  }
  60% {
    -webkit-clip-path: inset(40% -6px 43% 0);
            clip-path: inset(40% -6px 43% 0);
    -webkit-transform: translate(5px, 10px);
            transform: translate(5px, 10px);
  }
  70% {
    -webkit-clip-path: inset(50% -6px 30% 0);
            clip-path: inset(50% -6px 30% 0);
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  80% {
    -webkit-clip-path: inset(80% -6px 5% 0);
            clip-path: inset(80% -6px 5% 0);
    -webkit-transform: translate(20px, -10px);
            transform: translate(20px, -10px);
  }
  90% {
    -webkit-clip-path: inset(80% -6px 0 0);
            clip-path: inset(80% -6px 0 0);
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  100% {
    -webkit-clip-path: inset(80% -6px 0 0);
            clip-path: inset(80% -6px 0 0);
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes glitch-welcome {
  0% {
    -webkit-clip-path: inset(80% -6px 0 0);
            clip-path: inset(80% -6px 0 0);
    -webkit-transform: translate(-20px, -10px);
            transform: translate(-20px, -10px);
  }
  2% {
    -webkit-clip-path: inset(10% -6px 85% 0);
            clip-path: inset(10% -6px 85% 0);
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  4% {
    -webkit-clip-path: inset(80% -6px 0 0);
            clip-path: inset(80% -6px 0 0);
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  6% {
    -webkit-clip-path: inset(10% -6px 85% 0);
            clip-path: inset(10% -6px 85% 0);
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  8% {
    -webkit-clip-path: inset(50% -6px 30% 0);
            clip-path: inset(50% -6px 30% 0);
    -webkit-transform: translate(-5px, 0px);
            transform: translate(-5px, 0px);
  }
  10% {
    -webkit-clip-path: inset(10% -6px 85% 0);
            clip-path: inset(10% -6px 85% 0);
    -webkit-transform: translate(5px, 0px);
            transform: translate(5px, 0px);
  }
  12% {
    -webkit-clip-path: inset(40% -6px 43% 0);
            clip-path: inset(40% -6px 43% 0);
    -webkit-transform: translate(5px, 10px);
            transform: translate(5px, 10px);
  }
  14% {
    -webkit-clip-path: inset(50% -6px 30% 0);
            clip-path: inset(50% -6px 30% 0);
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  16% {
    -webkit-clip-path: inset(80% -6px 5% 0);
            clip-path: inset(80% -6px 5% 0);
    -webkit-transform: translate(20px, -10px);
            transform: translate(20px, -10px);
  }
  18% {
    -webkit-clip-path: inset(80% -6px 0 0);
            clip-path: inset(80% -6px 0 0);
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  20% {
    -webkit-clip-path: inset(80% -6px 0 0);
            clip-path: inset(80% -6px 0 0);
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  21% {
    -webkit-clip-path: inset(50% 50% 50% 50%);
            clip-path: inset(50% 50% 50% 50%);
  }
}

@keyframes glitch-welcome {
  0% {
    -webkit-clip-path: inset(80% -6px 0 0);
            clip-path: inset(80% -6px 0 0);
    -webkit-transform: translate(-20px, -10px);
            transform: translate(-20px, -10px);
  }
  2% {
    -webkit-clip-path: inset(10% -6px 85% 0);
            clip-path: inset(10% -6px 85% 0);
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  4% {
    -webkit-clip-path: inset(80% -6px 0 0);
            clip-path: inset(80% -6px 0 0);
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  6% {
    -webkit-clip-path: inset(10% -6px 85% 0);
            clip-path: inset(10% -6px 85% 0);
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  8% {
    -webkit-clip-path: inset(50% -6px 30% 0);
            clip-path: inset(50% -6px 30% 0);
    -webkit-transform: translate(-5px, 0px);
            transform: translate(-5px, 0px);
  }
  10% {
    -webkit-clip-path: inset(10% -6px 85% 0);
            clip-path: inset(10% -6px 85% 0);
    -webkit-transform: translate(5px, 0px);
            transform: translate(5px, 0px);
  }
  12% {
    -webkit-clip-path: inset(40% -6px 43% 0);
            clip-path: inset(40% -6px 43% 0);
    -webkit-transform: translate(5px, 10px);
            transform: translate(5px, 10px);
  }
  14% {
    -webkit-clip-path: inset(50% -6px 30% 0);
            clip-path: inset(50% -6px 30% 0);
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  16% {
    -webkit-clip-path: inset(80% -6px 5% 0);
            clip-path: inset(80% -6px 5% 0);
    -webkit-transform: translate(20px, -10px);
            transform: translate(20px, -10px);
  }
  18% {
    -webkit-clip-path: inset(80% -6px 0 0);
            clip-path: inset(80% -6px 0 0);
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
  20% {
    -webkit-clip-path: inset(80% -6px 0 0);
            clip-path: inset(80% -6px 0 0);
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  21% {
    -webkit-clip-path: inset(50% 50% 50% 50%);
            clip-path: inset(50% 50% 50% 50%);
  }
}

@-webkit-keyframes glitched {
  0% {
    left: -4px;
    -webkit-transform: skew(-5deg);
            transform: skew(-5deg);
  }
  11% {
    left: 2px;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  50% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  51% {
    -webkit-transform: skew(10deg);
            transform: skew(10deg);
  }
  60% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  100% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}

@keyframes glitched {
  0% {
    left: -4px;
    -webkit-transform: skew(-5deg);
            transform: skew(-5deg);
  }
  11% {
    left: 2px;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  50% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  51% {
    -webkit-transform: skew(10deg);
            transform: skew(10deg);
  }
  60% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  100% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}

@-webkit-keyframes noise-anim {
  0% {
    -webkit-clip-path: inset(39% 0 62% 0);
            clip-path: inset(39% 0 62% 0);
  }
  6.66667% {
    -webkit-clip-path: inset(54% 0 55% 0);
            clip-path: inset(54% 0 55% 0);
  }
  13.33333% {
    -webkit-clip-path: inset(94% 0 17% 0);
            clip-path: inset(94% 0 17% 0);
  }
  20% {
    -webkit-clip-path: inset(28% 0 55% 0);
            clip-path: inset(28% 0 55% 0);
  }
  26.66667% {
    -webkit-clip-path: inset(81% 0 26% 0);
            clip-path: inset(81% 0 26% 0);
  }
  33.33333% {
    -webkit-clip-path: inset(53% 0 54% 0);
            clip-path: inset(53% 0 54% 0);
  }
  40% {
    -webkit-clip-path: inset(103% 0 4% 0);
            clip-path: inset(103% 0 4% 0);
  }
  46.66667% {
    -webkit-clip-path: inset(50% 0 20% 0);
            clip-path: inset(50% 0 20% 0);
  }
  53.33333% {
    -webkit-clip-path: inset(63% 0 30% 0);
            clip-path: inset(63% 0 30% 0);
  }
  60% {
    -webkit-clip-path: inset(52% 0 31% 0);
            clip-path: inset(52% 0 31% 0);
  }
  66.66667% {
    -webkit-clip-path: inset(49% 0 11% 0);
            clip-path: inset(49% 0 11% 0);
  }
  73.33333% {
    -webkit-clip-path: inset(11% 0 89% 0);
            clip-path: inset(11% 0 89% 0);
  }
  80% {
    -webkit-clip-path: inset(95% 0 4% 0);
            clip-path: inset(95% 0 4% 0);
  }
  86.66667% {
    -webkit-clip-path: inset(65% 0 14% 0);
            clip-path: inset(65% 0 14% 0);
  }
  93.33333% {
    -webkit-clip-path: inset(8% 0 15% 0);
            clip-path: inset(8% 0 15% 0);
  }
  100% {
    -webkit-clip-path: inset(103% 0 4% 0);
            clip-path: inset(103% 0 4% 0);
  }
}

@keyframes noise-anim {
  0% {
    -webkit-clip-path: inset(39% 0 62% 0);
            clip-path: inset(39% 0 62% 0);
  }
  6.66667% {
    -webkit-clip-path: inset(54% 0 55% 0);
            clip-path: inset(54% 0 55% 0);
  }
  13.33333% {
    -webkit-clip-path: inset(94% 0 17% 0);
            clip-path: inset(94% 0 17% 0);
  }
  20% {
    -webkit-clip-path: inset(28% 0 55% 0);
            clip-path: inset(28% 0 55% 0);
  }
  26.66667% {
    -webkit-clip-path: inset(81% 0 26% 0);
            clip-path: inset(81% 0 26% 0);
  }
  33.33333% {
    -webkit-clip-path: inset(53% 0 54% 0);
            clip-path: inset(53% 0 54% 0);
  }
  40% {
    -webkit-clip-path: inset(103% 0 4% 0);
            clip-path: inset(103% 0 4% 0);
  }
  46.66667% {
    -webkit-clip-path: inset(50% 0 20% 0);
            clip-path: inset(50% 0 20% 0);
  }
  53.33333% {
    -webkit-clip-path: inset(63% 0 30% 0);
            clip-path: inset(63% 0 30% 0);
  }
  60% {
    -webkit-clip-path: inset(52% 0 31% 0);
            clip-path: inset(52% 0 31% 0);
  }
  66.66667% {
    -webkit-clip-path: inset(49% 0 11% 0);
            clip-path: inset(49% 0 11% 0);
  }
  73.33333% {
    -webkit-clip-path: inset(11% 0 89% 0);
            clip-path: inset(11% 0 89% 0);
  }
  80% {
    -webkit-clip-path: inset(95% 0 4% 0);
            clip-path: inset(95% 0 4% 0);
  }
  86.66667% {
    -webkit-clip-path: inset(65% 0 14% 0);
            clip-path: inset(65% 0 14% 0);
  }
  93.33333% {
    -webkit-clip-path: inset(8% 0 15% 0);
            clip-path: inset(8% 0 15% 0);
  }
  100% {
    -webkit-clip-path: inset(103% 0 4% 0);
            clip-path: inset(103% 0 4% 0);
  }
}

@-webkit-keyframes glitch-anim-bg {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
            clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }
  2% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
            clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  4% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
            clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  6% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
            clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  8% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
            clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  10% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
            clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  12% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
            clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  14% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
            clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  16% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
            clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  18% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
            clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  20% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
            clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  21.9% {
    opacity: 1;
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  22% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
            clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  30% {
    opacity: 1;
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  35% {
    opacity: 0;
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
            clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  55% {
    opacity: 0;
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
            clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  65% {
    opacity: 1;
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  67% {
    opacity: 0;
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
            clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  80%,
  100% {
    opacity: 0;
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
            clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
}

@keyframes glitch-anim-bg {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
            clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }
  2% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
            clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  4% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
            clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  6% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
            clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  8% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
            clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  10% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
            clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  12% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
            clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  14% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
            clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  16% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
            clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  18% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
            clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  20% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
            clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  21.9% {
    opacity: 1;
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  22% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
            clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  30% {
    opacity: 1;
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  35% {
    opacity: 0;
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
            clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  55% {
    opacity: 0;
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
            clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  65% {
    opacity: 1;
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  67% {
    opacity: 0;
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
            clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  80%,
  100% {
    opacity: 0;
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
            clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
}

body {
  margin: 0;
  background-color: #000;
  font-family: "Karla", sans-serif;
  overflow-x: hidden;
}

.welcome {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.welcome h1 {
  position: relative;
  margin: 1rem;
  font-size: 2.5rem;
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  text-shadow: 4px 4px #FF013C;
  -webkit-animation-name: glitched;
          animation-name: glitched;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media (min-width: 40em) {
  .welcome h1 {
    font-size: 5rem;
    margin: 5rem;
  }
}

.welcome h1::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 4px 0 #FF013C;
  top: 0;
  color: #fff;
  background: transparent;
  overflow: hidden;
  animation: noise-anim 10s infinite linear alternate-reverse;
}

.welcome h1::after {
  content: attr(data-text);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-shadow: -3px -3px 0px #f9f002, 3px 3px 0px #00E6F6;
  -webkit-clip-path: inset(50% 50% 50% 50%);
          clip-path: inset(50% 50% 50% 50%);
  -webkit-animation: glitch-welcome 5s infinite;
          animation: glitch-welcome 5s infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.glitch {
  position: relative;
}

.glitch-item {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: 65% 0%;
  background-size: cover;
}

.glitch-item:nth-child(1):after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(rgba(255, 1, 60, 0.2)), to(#000));
  background: linear-gradient(to top, #000, rgba(255, 1, 60, 0.2), #000);
  pointer-events: none;
}

.glitch-item:nth-child(2) {
  background-color: transparent;
  background-blend-mode: none;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: glitch-anim-bg;
          animation-name: glitch-anim-bg;
}

.glitch-item:nth-child(2):after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(rgba(255, 1, 60, 0.2)), to(#000));
  background: linear-gradient(to top, #000, rgba(255, 1, 60, 0.2), #000);
}

.briefing {
  color: #000;
  background-color: #f9f002;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 1.51;
  text-align: center;
  font-weight: 700;
  padding: 3rem 1rem;
  margin: 5rem 5% 0rem 5%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  border: none;
  border-right: 2px solid #f9f002;
  -webkit-clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
          clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
}

@media (min-width: 59.375rem) {
  .briefing {
    margin: 5rem 10rem 0rem 10rem;
  }
}

.briefing-intro {
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.briefing-intro h2,
.briefing-intro h3 {
  margin: 1rem auto;
  font-size: 1.3rem;
}

@media (min-width: 59.375rem) {
  .briefing-intro h2,
  .briefing-intro h3 {
    font-size: 1.8rem;
  }
}

.briefing-intro h2 {
  font-size: 1.5rem;
}

@media (min-width: 59.375rem) {
  .briefing-intro h2 {
    font-size: 2rem;
  }
}

.briefing-intro p {
  margin: 1rem auto 0 auto;
  text-align: justify;
}

@media (min-width: 40em) {
  .briefing-intro p {
    text-align: center;
  }
}

@media (min-width: 59.375rem) {
  .briefing-intro p {
    font-size: 1.3rem;
  }
}

.briefing-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

@media (min-width: 59.375rem) {
  .briefing-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.briefing-links > .button {
  min-width: 70vw;
}

@media (min-width: 40em) {
  .briefing-links > .button {
    min-width: 250px;
  }
}

@media (min-width: 90em) {
  .briefing-links > .button {
    min-width: 350px;
  }
}

.aboutMe {
  background-color: #000;
  color: #f9f002;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 1.51;
  padding: 1rem 1.5rem;
  margin: 5rem 5% 0rem 5%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  border: 30px solid #f9f002;
  border-right: 5px solid #f9f002;
  border-left: 5px solid #f9f002;
  border-bottom: 24px solid #f9f002;
  -webkit-clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
          clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
}

@media (min-width: 59.375rem) {
  .aboutMe {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 5rem 10rem 0rem 10rem;
  }
}

.aboutMe-about {
  text-align: justify;
}

@media (min-width: 59.375rem) {
  .aboutMe-about {
    font-size: 1.3rem;
    padding-left: 1.5rem;
    border-left: solid 1px black;
  }
}

.button {
  position: relative;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  background: linear-gradient(45deg, transparent 5%, #cd0030 5%);
  border: 0;
  color: #fff;
  -webkit-box-shadow: 6px 0px 0px #00E6F6;
          box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
}

@media (min-width: 59.375rem) {
  .button {
    font-size: 1.3rem;
  }
}

.button::after {
  content: attr(data-text);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #cd0030 5%);
  text-shadow: -3px -3px 0px #f9f002, 3px 3px 0px #00E6F6;
  -webkit-clip-path: inset(50% 50% 50% 50%);
          clip-path: inset(50% 50% 50% 50%);
}

.button:hover {
  cursor: pointer;
}

.button:hover::after {
  -webkit-animation: 1s glitch-hover;
          animation: 1s glitch-hover;
  -webkit-animation-timing-function: steps(2, end);
          animation-timing-function: steps(2, end);
}

.footer {
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#cce00e), color-stop(#f9f002), to(#f9f002));
  background: linear-gradient(to top, #cce00e, #f9f002, #f9f002);
  padding: 1.5rem;
  margin-top: 5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

@media (min-width: 59.375rem) {
  .footer {
    padding: 2rem 10rem 2rem 10rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    gap: 2rem;
  }
}

.footer-links a {
  color: #000;
  font-size: 1.5rem;
  letter-spacing: 1.07rem;
  position: relative;
}

.footer-links a:hover {
  color: #FF013C;
}

.experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  padding: 6rem 0.5rem 0 0.5rem;
  margin: auto;
  max-width: 660px;
  color: #fff;
}

.experience-education, .experience-jobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
  width: 100%;
  border: 30px solid #cd0030;
  border-right: 5px solid #cd0030;
  border-left: 5px solid #cd0030;
  border-bottom: 24px solid #cd0030;
  -webkit-clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
          clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
}

.experience-education h2, .experience-jobs h2 {
  margin: 0;
  padding: 0 0 2rem 0;
  text-align: center;
  -webkit-box-shadow: 0 5px 5px 0.5px #FF013C;
          box-shadow: 0 5px 5px 0.5px #FF013C;
  font-size: 1.5rem;
}

@media (min-width: 59.375rem) {
  .experience-education h2, .experience-jobs h2 {
    font-size: 1.8rem;
  }
}

.experience-item {
  background-color: #1b0006;
  border-radius: 1rem;
  margin: 3rem 0.8rem 0 0.8rem;
  padding: 0rem 0.5rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 1.51;
}

@media (min-width: 40em) {
  .experience-item {
    margin: 3rem 2rem 0 2rem;
    padding: 0rem 1rem;
  }
}

.experience-item h3 {
  font-size: 1.3rem;
}

@media (min-width: 59.375rem) {
  .experience-item h3 {
    font-size: 1.6rem;
  }
}

.experience-item h3 > span {
  font-style: italic;
}

@media (min-width: 59.375rem) {
  .experience-item h4 {
    font-size: 1.1rem;
  }
}

.experience-item p {
  padding-top: 0.5rem;
  font-weight: 400;
}

@media (min-width: 40em) {
  .experience-item p {
    text-align: center;
  }
}

@media (min-width: 59.375rem) {
  .experience-item p {
    font-size: 1.1rem;
  }
}

.projects {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  padding: 6.5rem 0.5rem 0 0.5rem;
  margin: auto;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  width: 90%;
  max-width: 850px;
}

@media (min-width: 23.5em) {
  .projects-container {
    width: 60%;
  }
}

.projects-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  width: auto;
}

@media (min-width: 59.375rem) {
  .projects-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 3rem;
  }
}

.projects-image {
  width: 100%;
  height: 200px;
  position: relative;
}

@media (min-width: 59.375rem) {
  .projects-image {
    width: 426px;
    height: 240px;
  }
  .projects-image:hover .projects-image-cover {
    display: block;
  }
  .projects-image:hover .projects-image-buttons {
    visibility: visible;
  }
}

.projects-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.projects-image-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(154, 0, 36, 0.9);
  -webkit-box-shadow: 0 0 7px 5px #00E6F6;
          box-shadow: 0 0 7px 5px #00E6F6;
  border-radius: 1rem;
  display: none;
  z-index: 1;
}

.projects-image-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 2;
  visibility: hidden;
}

.projects-image-buttons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.projects-image-buttons a:hover {
  text-decoration: underline;
}

.projects-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 1rem;
  margin: 1rem 0;
  width: 100%;
}

@media (min-width: 59.375rem) {
  .projects-content {
    margin: 0;
    width: 400px;
    height: 240px;
    text-align: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.projects-buttons-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 0.5rem;
  width: 100%;
}

@media (min-width: 59.375rem) {
  .projects-buttons-mobile {
    display: none;
  }
}

.projects-buttons-mobile a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  color: #fff;
}

.projects-buttons-mobile a:hover {
  color: #FF013C;
}

.projects-title {
  margin: 0;
}

@media (min-width: 59.375rem) {
  .projects-title {
    text-align: start;
  }
}

.projects-description {
  margin: 0;
  overflow-x: auto;
}

.projects-tools {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  font-size: 0.7rem;
}

@media (min-width: 40em) {
  .projects-tools {
    font-size: 1rem;
  }
}

.projects-tools > span {
  border: 1px solid #FF013C;
  padding: 0.5rem;
  border-radius: 1rem;
}
/*# sourceMappingURL=index.css.map */