.welcome {
    height: 100vh;

    display: flex;
    align-items: start;

    h1 {
        position: relative;
        margin: 1rem;
        font-size: 2.5rem;
        font-family: "Open Sans Condensed", sans-serif;
        color: $white;
        text-shadow: 4px 4px $pink; 

        @include breakpoint-up(medium) {
            font-size: 5rem;
            margin: 5rem;
        }
        
        //glitch distortion effect
        animation-name: glitched;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);  
       
        //glitch noise-anim
        &::before{
            content: attr(data-text);
            position: absolute;
            left: -2px;
            text-shadow: 4px 0 $pink;
            top: 0;
            color: $white;
            background: transparent;
            overflow: hidden;
            animation: noise-anim 10s infinite linear alternate-reverse;
        }

        //glitch welcome
        &::after { 
            content: attr(data-text);
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-shadow: -3px -3px 0px $yellow, 3px 3px 0px $blue;
            clip-path: $slice-0;
            animation: glitch-welcome 5s infinite;
            animation-delay: 2s;
        }
    }
}

.glitch {
    position: relative;
    overflow-x: hidden;

    &-item {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        background-repeat: no-repeat;
        background-position: 65% 0%;
        background-size: cover;

        //background glitch 
        &:nth-child(1) {
            &:after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100vh;
                background: linear-gradient(to top, $black, rgba($pink, 0.2), $black);
                pointer-events: none;
            }
        }
        //background glitch
        &:nth-child(2) {
            background-color: $blend-color-1;
            background-blend-mode: $blend-mode-1;
            animation-duration: $time-anim;
            animation-delay: $delay-anim;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-name: glitch-anim-bg;

            &:after {
                content: "";
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                pointer-events: none;
                background: linear-gradient(to top, $black, rgba($pink, 0.2), $black);
            }
        }
    }
}